# Tüm pyc, pyo, pyd dosyalarını ignore et
*.py[cod]

# __pycache__ klasörlerini ignore et (her seviyede)
__pycache__/
**/__pycache__/

# .DS_Store ve benzeri sistem dosyaları (opsiyonel)
.DS_Store

x.ipynb